<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit thesis</title>
</head>
<body>
    <div th:replace="~{fragments :: head}"></div>
    <div th:replace="~{fragments :: header-nav}"></div>

    <h4>Edit thesis</h4>
    <form th:action="@{'/theses/update/' + ${thesis.id}}" method="post">
        <input type="hidden" th:field="*{thesis.id}"/>
        <label for="title">Title:</label>
        <input type="text" id="title" th:field="*{thesis.title}"/>

        <label for="text">Text:</label>
        <input type="text" id="text" th:field="*{thesis.text}"/>

        <label for="dateOfSubmission">Date of submission:</label>
        <input type="date" id="dateOfSubmission" th:field="*{thesis.dateOfSubmission}"/>

        <label for="applicationId">Application id:</label>
        <select id="applicationId" th:field="*{thesis.applicationId}">
            <option th:each="applicationId : ${applicationIds}"
                    th:value="${applicationId}"
                    th:text="${applicationId}"
                    th:selected="${applicationId == thesis.applicationId}">
            </option>
        </select>

        <button type="submit">Update thesis</button>
    </form>
    <footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>