<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit student</title>
</head>
<body>
    <div th:replace="~{fragments :: head}"></div>
    <div th:replace="~{fragments :: header-nav}"></div>

    <h4>Edit student</h4>
    <form th:action="@{'/students/update/' + ${student.id}}" method="post">
        <input type="hidden" th:field="*{student.id}"/>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{student.name}"/>
        <label for="FNumber">FNumber: </label>
        <input type="hidden" id="FNumber" th:field="*{student.FNumber}"/>
        <button type="submit">Update Student
<!--            <a th:href="@{'/students/update/'+${medicine.id}}">Update Student</a>-->
        </button>

    <footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>