<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students!</title>
<body>
<div th:replace="~{fragments :: head}"></div>
<div th:replace="~{fragments :: header-nav}"></div>
<h3 th:unless="${students} and ${students.size()}">There are no students!</h3>
<table class="table table-primary table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">fnum</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student: ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.fNumber}"></td>
                <td><a class="btn btn-info" th:href="@{'/students/edit/'+${student.id}}">Edit</a></td>
                <td><a class="btn btn-danger" th:href="@{'/students/delete/'+${student.id}}">Delete</a></td>
            </tr>
            <footer th:replace="~{fragments :: footer}"></footer>
        </tbody>
    </table>
</body>
</html>